h2.intro {
  font-weight: 300;
  font-family:sans-serif;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

p.intro {
  font-family: fantasy;
  font-size: 8px;
}

img.intro {
  border: 2px solid blue;
  display: flex;
  margin: 0 auto;

}
